.form-container {
    display: flex;
    justify-content: center;
}

.expense-info-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1em;
}

.expense-category-radio {
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-radius: 1em;
    border-color: #faf200
}

.radio-labels {
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    margin: 0.5em;
}

.radio-buttons {
    margin: 0.5em;
}

.input-element {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 0.5em;
}

.input-element> input {
    margin-left: 1em;
    width: 10em;
    text-align: center;
}
.comment {
    justify-content: center;
}
.comment > textarea{
    width: 17em;
    min-height: 1em;
    text-align: center;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    text-align: center;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 10px;
    text-align: center;
}

.login-container{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
 .btn{
    background-color: #faf200;
    color: black;
}

.balance-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
}

.cashflow-container{
    flex-shrink: 0;
    max-height: min-content;
    width: 300px;
    padding: 15px;
    margin: 1em;
}

.category-container{
    display: flex;
    flex-direction: column;
    text-align: start;
    border: 1px solid white;
    border-radius: 1em;
}

.category-value-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.4em 1em 0em;
}

.cashflow-container > h5{
    margin-top: 2em;
}

.category-value-container > h6{
    text-align: center;
}